package views

templ AddMeal() {
	<div class="flex-container">
	    <div id="menu" class="navigation">Add new meal <a href="/">X</a></div>
	    <div id="contents" style="flex: 1">Enter meal contents</div>
	    <div id="footer" class="navigation">
			Save
	    </div>
	</div>
}
