package views

templ Log() {
	<div class="flex-container">
	    <div id="menu" class="navigation">Menu</div>
	    <div id="contents" style="flex: 1">Log</div>
	    <div id="footer" class="navigation">
	        <a href="/add-meal">Add</a>
	    </div>
	</div>
}
