package view

templ ProfileUpdated() {
	<section class="section">
		<div class="container">
			<h1 class="title">Your profile has been successfully updated!</h1>
			Please <a href="/meals">Log In</a> again to continue using Bite Tracker
		</div>
	</section>
}
