package view

templ ProfileUpdated(message string) {
	<section class="section">
		<div class="container">
			<h1 class="title">{ message }</h1>
			Please <a href="/meals">Log In</a> to continue using Bite Tracker
		</div>
	</section>
}
